*{
    font-family:serif;
        text-align: center;
}
h2{
    color:red;
    border:1px solid black;
        padding:2%;
    text-shadow: 3px 3px 5px grey;
    }
#Zelle{
    color:green;
    font-family:cursive;
    font-weight:100;
}
.class{
    font-weight:200;
        font-family:monospace;
    font-size:15px;
    color:burlywood
}
input{
    border:2px solid black
}
input[type ="email"]{
    background-color:orange;
}
input[type="text"]{
    background-color:wheat
}
input[type="button"]{
   background-color:aqua;
    border:2px solid red;
    color:blue;
        font-family:serif;
    cursor:pointer
}